/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #207c20ef;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul ul {
  display: none;
  position: absolute;
  background-color: #4CAF50;
  list-style-type: none;
  padding: 0;
}

nav ul li:hover > ul {
  display: block;
}

nav ul ul li {
  display: block;
}

nav ul ul li a {
  color: white;
  padding: 10px;
}

main {
  padding: 20px;
}

section#deportes-individuales, section#deportes-conjunto {
  margin-bottom: 40px;
}

section#deportes-individuales article, section#deportes-conjunto article {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  background-color: white;
}

section#deportes-individuales img, section#deportes-conjunto img {
  width: 9%;
  height: auto;
  border: 1px solid #ccc;
}

form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

fieldset {
  margin-bottom: 20px;
  padding: 95px;
  border: 1px solid #ccc;
}

legend {
  font-weight: bold;
  padding: 0 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/*footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
