/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section img {
    width: 20%;
    height: auto;
    border: 1px solid #ccc;
  }
  
  form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  
  fieldset {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  legend {
    font-weight: bold;
    padding: 0 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  /*
  footer {
    background-color: #a6d1ed;
    color: white;
    text-align: center;
    padding: 9% 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  